<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url short</title>
</head>
<body>
    <div class="wrapper">
      <h1>Make Your URL Shorter</h1>
      <input placeholder="Paste URL to shorten here..." class="url-input" />
      <p><%= title %></p> <!-- Example of embedding EJS code -->
    </div>
</body>
</html>
